black>=22.0.0
flake8==3.9.2
pylint>=3.0.0
mypy>=0.900
isort>=5.9.0
coverage>=5.0
pytest>=6.1.2
pytest-cov>=2.11.0
pytest-cover>=3.0.0
pytest-coverage
pylama>=7.7
pre-commit>=2.13.0
setuptools==65.5.1
types-setuptools>=57.0
build>=0.6
configparser>=5.0
pyserial==3.4
PyYAML>=5.3
